<%- include('header', {title: "Rejestracja"}); %>
  <form method="post">
    <label for="fname">Username:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password">
    <input type="submit" value="Submit">
  </form>
  <button id="login">Zaloguj się</button>
  <label><%= ok %></label>
<%- include('footer', {script: "/redirectButtons.js"}); %>