<%- include('header', {title: "Logowanie"}); %>
  <form>
    <label for="fname">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password">
    <input type="submit" value="Submit">
  </form>
  <button id="register">Zarejestruj się</button>
<%- include('footer', {script: "/redirectButtons.js"}); %>