<%- include('header', {title: "Pokoje"}); %>
  Pokój <%= n %>
  <button id="leaveRoom">Opuść Pokój</button>
  <div id="playerList"></div>
  <button id="login">Logowanie</button>
  <script src="/redirectButtons.js"></script>
<%- include('footer', {script: "/roomscript.js"}); %>